// ------------------------------------
// Components > Logo
// ------------------------------------

.c-logo {
  display: block;
  width: 100%;
  height: 100px;
  text-align: center;

  &__link {
    @include font($scale: 6, $weight: medium);
    display: block;
  }

  &__img {
    height: auto;
    display: block;
    max-width: 100%;
    max-height: 120px;
    width: 250px;
    object-fit: contain;
    margin: 0 auto;

    @include mq($from: tablet) {
      width: 300px;
      height: auto;
      max-height: none;
      margin: 0 auto;
    }
  }
}

// Footer specific logo styles
.c-footer__logo {
  .c-logo__img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-height: none;

    @include mq($from: tablet) {
      width: 660px;
      height: auto;
    }
  }
}

.c-logo__dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-user-color-scheme]).is-darkModeAdminSetting-enabled {
    .c-logo__dark {
      display: block;
    }

    .c-logo__light {
      display: none;
    }
  }
}

[data-user-color-scheme='dark'] {
  .c-logo__dark {
    display: block;
  }

  .c-logo__light {
    display: none;
  }
}
